:root {
    /* --primarly-color: #778da9; */
    --primarly-color: #979dac;
    --font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    font-family: inter;
    background-color: #0d1b2a;
    color: var(--primarly-color);
    box-sizing: border-box;
    font-size: var(--font-size);
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h2 {
    font-size: 1.2em;
    font-weight: 500;
    margin-top: 12px;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: var(--primarly-color);
    text-decoration: none;
}

.container {
    margin: 0 auto;
    padding: 100px 96px;
    display: flex;
    max-width: 1380px;
    gap: 1em;
    /* justify-content: space-between; */
}

.header_wrapper {
    /* width: 100%; */
    max-width: 320px;
    position: fixed;
}

.right_side_container{
    min-width: 380px;
    max-width: calc(100% - 550px);
    margin-left: auto;
}

.main_title {
    color: #e0e1dd;
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -.050em;
}

h2 {
    color: #e0e1dd;

}
.main_descr {
    margin-top: 16px;
}

.main_text {
    /* max-width: 550px; */
    /* overflow-wrap: break-word; */
}

.social_list {
    display: flex;
    gap: 20px;
}

.nav_link {
    display: flex;
    align-items: center;
    padding: 12px 0;
}

.line {
    display: inline-block;
    height: 1px;
    background-color: var(--primarly-color);
    width: 30px;
    margin-right: 1.5em;
}

.nav_descr {
    font-size: 0.7em;
    font-weight: 700;
    letter-spacing: .10em;
    text-transform: uppercase;
}


